spring:
  datasource:
    url: jdbc:mysql://localhost:3306/YOUR_DB_NAME?useSSL=false&serverTimezone=UTC&characterEncoding=UTF-8
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}
    driver-class-name: com.mysql.cj.jdbc.Driver

    jpa:
      hibernate:
        ddl-auto: update
      properties:
        hibernate:
          format_sql: true
      defer-datasource-initialization: true

    security:
      oauth2:
        client:
          registration:
            kakao:
              client-id: ${KAKAO_CLIENT_ID}
              client-secret: ${KAKAO_CLIENT_SECRET}
              client-authentication-method: client_secret_post
              authorization-grant-type: authorization_code
              redirect-uri: http://localhost:8080/login/oauth2/code/kakao
              scope:
                - profile_nickname
                - account_email
            google:
              client-id: ${GOOGLE_CLIENT_ID}
              client-secret: ${GOOGLE_CLIENT_SECRET}
              redirect-uri: http://localhost:8080/login/oauth2/code/google
              scope:
                - profile
                - email

          provider:
            kakao:
              authorization-uri: https://kauth.kakao.com/oauth/authorize
              token-uri: https://kauth.kakao.com/oauth/token
              user-info-uri: https://kapi.kakao.com/v2/user/me
              user-name-attribute: id

  jwt:
    secret: ${JWT_SECRET_KEY}

  logging:
    level:
      org.hibernate.SQL: debug

  application:
    name: nochigima

  profiles:
    active: local


